html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
caption,
table,
tr,
td,
th,
address,
blockquote,
img {
	margin: 0;
	padding: 0;
}

img,
fieldset {
	border: none;
}
*,
*:after,
*:before {
	box-sizing: border-box;
}

hr {
	display: none;
}

img {
	display: block;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: scroll;
}

header,
main {
	width: clamp(20rem, 100%);
	margin: auto;
}
nav {
	width: clamp(20rem, 100%, 90rem);
	margin-inline: auto;
}
body,
button,
input,
table,
textarea,
select {
	font: normal 1.126em/1.5 'Barlow', arial, helvetica, sans-serif;
}

:root {
	/*Primary */

	--soft-red: hsl(7, 99%, 70%);
	--yellow: hsl(51, 100%, 49%);
	--dark-desaturated-cyan: hsl(167, 40%, 24%);
	--dark-blue: hsl(198, 62%, 26%);
	--dark-moderate-cyan: hsl(168, 34%, 41%);
	--lightgreen: #8ed0c4;

	/*Neutral*/

	--very-dark-desaturated-blue: hsl(212, 27%, 19%);
	--very-dark-grayish-blue: hsl(213, 9%, 39%);
	--dark-grayish-blue: hsl(232, 10%, 55%);
	--grayish-blue: hsl(210, 4%, 67%);
	--white: hsl(0, 0%, 100%);

	--fraunces-font: 'Fraunces', serif;
	--gap: min(2.5rem, 3vw);
}

body > header,
#services article,
#projects div {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
body > header {
	background-image: url('/assets/desktop/image-header.jpg');

	height: 44.5rem;
	max-height: 100%;
}
h1 {
	text-align: center;
	color: var(--white);
	text-transform: uppercase;
	font-family: var(--fraunces-font);
	letter-spacing: 0.6rem;
	font-size: 3rem;
	padding: 3.2rem 0;
	font-weight: 900;
}

a {
	color: var(--white);
	text-decoration: none;
	cursor: pointer;
}

body > header > nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#mainMenu {
	padding: 2rem;
}

#mainMenu div,
body > header nav ul {
	display: flex;
	align-items: center;
	list-style: none;
	gap: var(--gap);
}

.contactBtn {
	color: var(--very-dark-desaturated-blue);
	text-transform: uppercase;
	border-radius: 2rem;
	background-color: var(--white);
	font-family: var(--fraunces-font);
	padding: 0.7rem;
	width: 8rem;
	text-align: center;
	transition: background 0.5s linear, color 0.5s linear;
}
.contactBtn:hover {
	color: var(--white);
	text-transform: uppercase;
	border-radius: 2rem;
	background-color: #43abdf;
	padding: 0.7rem;
	width: 8rem;
	text-align: center;
}

.logo {
	width: 9.5rem;
	max-width: 100%;
}
.arrow-img {
	margin: 0 auto;
	margin-top: 1rem;
}

#aboutus article {
	display: grid;
	align-items: center;
	justify-content: center;
	grid-template-columns:
		minmax(1rem, 1fr)
		minmax(0, calc(80rem / 2))
		minmax(0, calc(80rem / 2))
		minmax(1rem, 1fr);
	grid-template-rows: 1fr;
}
#aboutus article div {
	padding-inline: 5rem;
}
.aboutus-transform div {
	grid-column: 1 / 3;
}
.aboutus-transform picture {
	grid-column: 3 / 5;
	grid-row: 1/3;
}
.aboutus-standout div {
	grid-column: 3 / -1;
}
.aboutus-standout picture {
	grid-column: 1 / 3;
}

#aboutus picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#aboutus article a,
#aboutus article h2 {
	color: var(--very-dark-desaturated-blue);
	font-family: var(--fraunces-font);
}
#aboutus article a {
	text-transform: uppercase;
	position: relative;
	z-index: 100;
}

.aboutus-standout a::after {
	background: var(--soft-red);
}
#aboutus article h2 {
	font-size: 2.2rem;
	font-weight: 900;
}
#aboutus article p {
	font-size: 1rem;
	line-height: 1.8;
	color: var(--very-dark-grayish-blue);
	margin-block: 1rem;
}

#aboutus article a::after {
	content: '';
	position: absolute;
	opacity: 0.5;
	height: 8px;
	width: 110%;
	left: -0.4rem;
	top: 70%;
	transition: all ease-in-out 0.3s;
	z-index: 0;
	border-radius: 2rem;
	padding-inline: 1rem;
}
.aboutus-transform a::after {
	background: var(--yellow);
}

#services {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	text-align: center;
}

#services h2 {
	font-family: var(--fraunces-font);
	font-weight: 900;
}
#services p {
	width: 65%;
	font-size: 1rem;
	line-height: 1.7;
}
.cherry h2,
.cherry p {
	color: var(--dark-desaturated-cyan);
}
.orange h2,
.orange p {
	color: var(--dark-blue);
}
#services article {
	padding: 3.5rem 1rem;
	height: 45rem;
	display: flex;
	gap: 1.8rem;
	flex-direction: column;
	justify-content: flex-end;

	align-items: center;
}
.cherry {
	background-image: url('/assets/desktop/image-graphic-design.jpg');
}
.orange {
	background-image: url('/assets/desktop/image-photography.jpg');
}
#testimonials {
	padding: 8rem 0;
}
#testimonials h2 {
	color: var(--grayish-blue);
	letter-spacing: 5px;
	text-transform: uppercase;
	font-family: var(--fraunces-font);
	text-align: center;
	font-size: 1.4rem;
	margin-bottom: 2rem;
}

#testimonials article {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--gap);
	padding-inline: 5rem;
}

.testimonials {
	text-align: center;
	padding-top: 3rem;
}
.testimonials img {
	border-radius: 50%;
	margin-inline: auto;
	width: 20%;
}
.testimonials-description {
	margin-block: 3rem;
	color: var(--dark-grayish-blue);
	line-height: 1.9;
}

.testimonial-author {
	color: var(--very-dark-desaturated-blue);
	font-weight: 900;
	font-family: var(--fraunces-font);
	margin-block: 0.5rem;
	font-size: 1.5rem;
}

.testimonial-info {
	color: var(--grayish-blue);
}

#projects {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	height: 35rem;
}

#projects div {
	height: 100%;
	width: 100%;
}
.gallery-bottles {
	background-image: url('/assets/desktop/image-gallery-milkbottles.jpg');
}
.gallery-orange {
	background-image: url('/assets/desktop/image-gallery-orange.jpg');
}
.gallery-cone {
	background-image: url('/assets/desktop/image-gallery-cone.jpg');
}
.gallery-sugar {
	background-image: url('/assets/desktop/image-gallery-sugarcubes.jpg');
}
footer {
	background-color: var(--lightgreen);
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	align-items: center;
	padding: 4rem 1.5rem;
	min-height: 30vh;
	justify-content: center;
}

.second-nav a {
	font-weight: 900;
}
footer ul {
	display: flex;
	gap: var(--gap);
	list-style: none;
}

footer a {
	color: var(--dark-moderate-cyan);
	transition: color 0.5s linear;
}
footer a:hover {
	color: var(--white);
}

footer .logo {
	filter: invert(45%) sepia(22%) saturate(790%) hue-rotate(118deg)
		brightness(95%) contrast(92%);
}
@media (max-width: 50rem) {
	h1 {
		width: 80%;
		margin-inline: auto;
		margin-bottom: 3rem;
	}
	.arrow-img {
		height: 20%;
	}
	#mainMenu div {
		position: absolute;
		left: -99em;
		transition: left 0.5s;
	}
	#mainMenu div + .burgerBtn {
		display: inline-block;
		font-size: 2rem;
	}

	#mainMenu + .burgerBtn {
		display: inline-block;
		text-indent: -999em;
	}
	#mainMenu:target .burgerBtn {
		display: inline-block;
	}
	#mainMenu:target div {
		inset: 0;
		top: 3rem;
		left: 50%;
		transform: translate(-50%);
		width: 50%;
		height: 70%;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		background-color: var(--white);
	}
	#mainMenu:target a {
		color: var(--very-dark-desaturated-blue);
	}

	#mainMenu:target + a {
		display: none;
	}
	.contactBtn {
		background-color: var(--yellow);
	}

	#mainMenu:target > a:first-child {
		display: block;
		position: absolute;
		left: 73%;
		top: 3rem;
		transform: translateX(-150%);
		font-size: 1.8rem;
		z-index: 1;
		color: var(--very-dark-desaturated-blue);
		border-radius: 30%;
	}

	#mainMenu:target > div > ul {
		width: 50%;
		padding-top: 2rem;
		flex-direction: column;
		align-items: center;
		margin-bottom: 1rem;
	}

	body header {
		background-image: url('/assets/mobile/image-header.jpg');
	}
	#aboutus article {
		display: block;
	}
	#aboutus article h2 {
		font-size: 2rem;
		line-height: 1.3;
	}

	#aboutus article div {
		padding-inline: 1rem;
		margin-inline: auto;
	}

	#aboutus picture img {
		width: 100%;
		display: block;
	}

	#services {
		grid-template-columns: 1fr;
	}
	.cherry {
		background-image: url('/assets/mobile/image-graphic-design.jpg');
	}
	.orange {
		background-image: url('/assets/mobile/image-photography.jpg');
	}

	#testimonials article {
		grid-template-columns: 1fr;
	}
	#projects {
		grid-template-columns: repeat(2, 1fr);
	}
	#projects div {
		height: 100%;
	}
	.gallery-bottles {
		background-image: url('/assets/mobile/image-gallery-milkbottles.jpg');
	}
	.gallery-orange {
		background-image: url('/assets/mobile/image-gallery-orange.jpg');
	}
	.gallery-cone {
		background-image: url('/assets/mobile/image-gallery-cone.jpg');
	}
	.gallery-sugar {
		background-image: url('/assets/mobile/image-gallery-sugar-cubes.jpg');
	}

	@media (max-width: 36rem) {
		h1 {
			font-size: 2.6rem;
			letter-spacing: 0.4rem;
			width: 100%;
			margin-bottom: 0;
		}
		.arrow-img {
			height: 22%;
		}

		#testimonials {
			padding-block: 5rem;
		}
		#testimonials img {
			width: 33%;
		}
		#testimonials h2 {
			font-size: 1.3rem;
			letter-spacing: 3px;
		}
		#testimonials article {
			padding-inline: 2rem;
		}

		#services p {
			width: 100%;
		}
	}
}

